.topicCard {
  background-image: url("/images/topic-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #fdf045;
  border-top-color: #fff280;
  border-left-color: #fff280;
  border-bottom-color: #7d6d00;
  border-right-color: #7d6d00;
  cursor: pointer;
  scale: 100%;
  box-shadow: 0.2em 0.2em 0.2em rgba(0, 0, 0, 0.5);
  transition-property: all;

  &.fadeIn {
    animation: fadeIn 500ms ease-out forwards;
    opacity: 0;
  }

  &.fadeOut {
  }

  &:hover {
    scale: 102%;
    box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.5);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.forceChooseButton {
  position: absolute;
  bottom: 0.4rem;
  font-size: 0.6rem;
  margin: 0rem;
  padding: 0.3rem 0.3rem;
  border-radius: 0.5rem;
  border: none;
  background-color: #ff7800;
  color: white;
  font-weight: bold;
  box-sizing: content-box;
  box-shadow: none;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.2em;
  overflow: hidden;
  translate: 0rem 0rem;

  &:hover {
    background-color: #ff5900;
  }

  &:focus,
  &:active {
    outline: none;
  }
}
